body {
    font-family: Arial, sans-serif;
    background-color: #f01717;
    margin: 0;
    padding: 0;
    background-image: url('https://plus.unsplash.com/premium_photo-1682146739433-5926577acb7a?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Adjust the path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #f01717;
  }
  
  input[type="search"],
  button {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    color: red;
  }
  
  #movieList {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
  }
  
  .movie-details {
    margin-top: 20px;
  }
  
  .movie-poster {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  